.main {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  padding: 50px 64px;
  gap: 64px;
}
.catalog {
  margin-bottom: 40px;
  list-style-type: none;
}
.catalogBtn {
  display: flex;
  justify-content: center;
}
.loadBtn {
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  color: #101828;
  font-weight: 500;
  padding: 16px 32px;
  background-color: transparent;
  border: 1px solid #dadde1;
  border-radius: 50px;
  cursor: pointer;
}
.loadBtn:hover,
.loadBtn:focus {
  border: 1px solid #d84343;
}
